.PasswordForgetLink {
    text-align: center;
    margin:20px 0 0 0;
}
.PasswordForgetLink:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.formButton {
    width: 100%;
    background: #ff5d5d;
    text-align: center;
    height: 70px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: white;

}

.formButton:hover {
    background: #d34c4c;
}

.formButton:disabled,
.formButton[disabled] {

    background-color: #cccccc;
    color: #666666;
}

.email::placeholder {

    background-image: url(/img/LoginEmailIcon.png);
    background-repeat: no-repeat;
    background-size: 25px 15px;
    background-position: 5px 0px;
    
    

}

.inputText{
    border: 2px solid gray;
    border-radius: 10px;
    background: none;
    height: 30px;
    width: 300px;
    text-align: 10px;
}


.inputText:focus {
    border-color: #FF7964;
    box-shadow: inset 0 1px 1px #FF7964, 0 0 8px rgba(255, 0, 0, 0.6);
}
.backBtn {
    margin:10px auto auto 5px;
    cursor:pointer;
}
.backBtn:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

