.signOutButton {
    width: 100%;
    background: #ff5d5d;
    text-align: center;
    height: 70px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: white;

}

.signOutButton:hover {
    background: #d34c4c;
}

