.tabBar {

    height: 40px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
    text-align: center;


}

.tabButton {

    margin: 0;
    color: gray;
    display: inline-block;
    font-size: 150%;
    width: 49%;
    height: 90%;
    cursor: pointer;
        


}

.bottomBorder {
    width: 49%;
    height: 4px;
    border-bottom: 2px solid #ff5d5d;
    position: absolute;
}



.moveforward {

    -webkit-animation-name: moveforward;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s;
    /* Safari 4.0 - 8.0 */
  

    animation-name: moveforward;
    animation-duration: 0.5s;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveforward {
    from {
        left: 0;
    }

    to {
        left: 51%;
    }
}

/* Standard syntax */
@keyframes moveforward {
    from {
        left: 0;
    }

    to {
        left: 51%;
    }
}

.movebackward {

    -webkit-animation-name: movebackward;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s;
    /* Safari 4.0 - 8.0 */
   

    animation-name: movebackward;
    animation-duration: 0.5s;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes movebackward {
    from {
        left: 51%;
    }

    to {
        left: 0;
    }
}

/* Standard syntax */
@keyframes movebackward {
    from {
        left: 51%;
    }

    to {
        left: 0;
    }
}